.header {
    max-width: 1340px;
    margin: 25px auto;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px 20px;
        border-bottom: 2px solid #d7dde9;

        @media (max-width: 1024px) {
            width: 95%;
            margin: 0 auto;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 5px;
            padding: 0 0 20px;
            width: 90%;
        }

        &-user-name {
            margin: 0 0 0 75px;

            @media (max-width: 768px) {
                margin: 0;
            }

            &-text {
                font-size: 24px;
                font-weight: 500;
                line-height: 29.04px;

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }

        &-date-info {
            font-size: 16px;
            font-weight: 500;
            line-height: 29.04px;
            color: var(--strong-gray);
        }
    }
}

.modal {
    &__container {
        position: fixed;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        transition: all 0.3s ease-in-out 0s;
        z-index: 11;

        @media (max-width: 768px) {
            align-items: start;
        }

        &-content {
            max-width: 450px;
            max-height: 286px;
            margin: 0 auto;
            width: 100%;
            background: #fefefe;
            border: 1px solid #deeffe;
            box-sizing: border-box;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2509803922);
            border-radius: 8px;
            padding: 24px 32px 40px;

            @media (max-width: 768px) {
                border: 0;
                box-shadow: none;
            }

            &-title {
                &-text {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 29.04px;
                    text-align: left;
                }
            }

            &-middle {
                margin: 30px 0;
                display: grid;
                gap: 10px;

                &-title {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.36px;
                    text-align: left;
                }

                &-body {
                    max-width: 386px;
                    height: 51px;
                    padding: 16px;
                    gap: 16px;
                    border-radius: 8px;
                    border: 1px solid var(--border-light-gray);
                }
            }

            &-button {
                display: flex;
                width: 100%;
                gap: 10px;

                @media (max-width: 768px) {
                    flex-wrap: wrap;
                }

                &-add {
                    height: 51px;
                    padding: 16px 24px;
                    border: none;
                    border-radius: 8px;
                    width: 100%;
                    cursor: pointer;

                    &-text {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19.36px;
                    }
                }

                &-add {
                    background: var(--button-gradient);
                    &-text {
                        color: var(--white);
                    }
                }
            }
        }
    }
}
