.task {
    &__container {
        width: 100%;

        &-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            list-style: none;
            width: 100%;

            &-item {
                padding: 15px;
                border: 1px dashed var(--border-color);
                transition: all 0.3s ease;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: var(--background-secondary);

                &:hover {
                    background-color: var(--background-hover);
                    box-shadow: var(--shadow);
                }

                &:active {
                    cursor: grabbing;
                }

                &.dragging {
                    opacity: 0.5;
                    background-color: var(--background-hover);
                    box-shadow: var(--shadow-hover);
                }

                &-content {
                    gap: 15px;
                    display: flex;
                    align-items: center;

                    .custom-checkbox {
                        display: flex;
                        align-items: center;

                        input[type='checkbox'] {
                            display: none;
                        }

                        .checkmark {
                            width: 24px;
                            height: 24px;
                            border: 2px solid var(--text-muted);
                            border-radius: 4px;
                            margin-right: 10px;
                            position: relative;
                            cursor: pointer;
                            transition: all 0.3s ease;
                            background-color: var(--background-primary);
                        }

                        input[type='checkbox']:checked + .checkmark {
                            background-color: var(--light-blue);
                            border-color: var(--blue);
                        }

                        input[type='checkbox']:checked + .checkmark::after {
                            content: '';
                            position: absolute;
                            left: 7px;
                            top: 2px;
                            width: 6px;
                            height: 12px;
                            border: solid var(--blue);
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                        }
                    }

                    &-task {
                        color: var(--text-primary);
                        transition: all 0.3s ease;

                        &.completed {
                            text-decoration: line-through;
                            color: var(--text-secondary);
                        }
                    }
                }

                &-button {
                    &-body {
                        background: none;
                        border: none;
                        cursor: pointer;
                        color: var(--text-secondary);
                        transition: all 0.3s ease;

                        &:hover {
                            color: var(--text-primary);
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

// Adicionar estilos para o item sendo arrastado
[data-draggable='true'] {
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

// Adicionar estilos para o container durante o drag
.task__container-list {
    &.dragging-over {
        background-color: var(--background-hover);
        border-radius: 4px;
    }
}
